<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xuyh.batchservice.core.mapper.TCoffeeMapper">
    <resultMap id="userResultMap" type="com.github.xuyh.batchservice.core.entity.TCoffee">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectById" resultType="com.github.xuyh.batchservice.core.entity.TCoffee">
        select *
        from t_coffee
        where id = #{id}
    </select>

    <delete id="deleteAll">
        truncate table t_coffee
    </delete>
</mapper>